h1{
    
    background-color: rgb(17, 16, 100);
    color:rgb(228, 243, 22);
    border: 5px solid rgb(160, 60, 60);
    font-size: 50px;
    
}
h1:hover{
    
    background-color: rgb(151, 29, 100);

}
div {
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    outline-style: double;
    background-color: rgb(129, 12, 12);
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(243, 255, 70)
    
    
}
div:hover{
    
    background-color: rgb(7, 109, 134);
}